// Breakpoints
$bp-x-small: 350px;
$bp-small: 576px;
$bp-medium: 900px;
$bp-large: 1200px;

@mixin xsm {
  @media (max-width: #{$bp-x-small}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$bp-small}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$bp-medium}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$bp-large}) {
    @content;
  }
}
